<br>
<br>
<form id="AddProjectFrom" [formGroup]="AddProjectFrom" (ngSubmit)="onRegistrationProject()">
  <div class="container">

    <div class="row">
      <div class="col-md-1">
        <label for="projectName">Project :</label>
      </div>
      <div class="col-md-11">
        <input formControlName="projectName" type="text">
        <div *ngIf="submitted && f.projectName.errors" class="invalid-danger">
          <div *ngIf="submitted && f.projectName.errors.required">Project Name is required</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-1"><input formControlName="enableDateFields" type="checkbox" (click)="showDateFields()">
          </div>
          <div class="col-md-3"><label>Set Start and End Date</label></div>
          <div class="col-md-2"><input formControlName="startDate" type="date" placeholder='yyyy-mm-dd'>
            <div *ngIf="submitted && f.startDate.errors" class="invalid-danger">
              <div *ngIf="submitted && f.startDate.errors.required">Start Date is required</div>
            </div>
          </div>
          <div class="col-md-2"><input formControlName="endDate" type="date" placeholder='yyyy-mm-dd'>
            <div *ngIf="submitted && f.endDate.errors" class="invalid-danger">
              <div *ngIf="submitted && f.endDate.errors.required">End Date is required</div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-1 " id="priority"><label for="priority">Priority :</label></div>
      <div class="col-md-11"><input formControlName="priority" type="range" name="volume" min="0" max="30">
        <div *ngIf="submitted && f.priority.errors" class="invalid-danger">
          <div *ngIf="submitted && f.priority.errors.required">Set Priority </div>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-2"><label for="manager">Manager :</label>
        <ul *ngFor="let user of searchUserResult | filter: manager">
          <li>{{user.firstName}}</li>
        </ul>
      </div>
      <div class="col-md-4 "><input formControlName="manager" type="text">
        <div *ngIf="submitted && f.manager.errors" class="invalid-danger">
          <div *ngIf="submitted && f.manager.errors.required">Manager Nameis required</div>
        </div>
      </div>

      
      <div class="col-md-2"><button (click)="searchUser()">Search</button></div>
    </div>



    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2"><button class="btn btn-primary" type="submit">Add</button></div>
          <div class="col-md-4"><button (click)="reset()" class="btn btn-primary">Reset</button></div>
        </div>
      </div>
    </div>

    <hr>

  </div>
</form>

<div class="container">
  <div class="row">
    <div class="col-ls-12"> <input placeholder="search..." type="text" [(ngModel)]="searchInput"
        (keyup)="performSearch()"></div>
  </div>

  <div class="row">
    <div class="col-ls-1"><label>sort by:</label></div>
    <div class="col-ls-2"><button class="block" (click)="sortingAction('startDate')">Start Date</button></div>
    <div class="col-ls-3"><button class="block" (click)="sortingAction('endDate')">End Date</button></div>
    <div class="col-ls-3"><button class="block" (click)="sortingAction('priority')">Priority</button></div>
    <div class="col-ls-1"><button class="block" (click)="sortingAction('completed')">Completed</button></div>
  </div>
  <div *ngFor='let item of projectList'>
    <app-view-project [projectDetails]='item'></app-view-project>
  </div>
</div>