<br>
<br>
<form >
  <div class="container">

    <div class="row">
      <div class="col-md-1">
        <label>Project :</label>
      </div>
      <div class="col-md-11">
        <input type="text">
      </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="row">
              <div class="col-md-1"><input type="checkbox"></div>
              <div class="col-md-3"><label>Set Start and End Date</label></div>
              <div class="col-md-2"><input type="date" value="startdate"></div>
              <div class="col-md-2"><input type="date" value="enddate"></div>

          </div>

        </div>
    </div>

        <div class="row">
          <div class="col-md-5 " id="priority"><label>Priority :</label></div>
          <div class="col-md-7"><input type="range"  name="volume" min="0" max="30"></div>  
        </div>
       
        <div class="row">
            <div class="col-md-4"><label>Manager :</label></div>
            <div class="col-md-6"><input type="text"></div>
            <div class="col-md-2"><button>Search</button></div>
        </div>

        <div class="row">
             <div class="col-md-8"></div>
             <div class="col-md-4">
                 <div class="row">
                     <div class="col-md-2"><button>Add</button></div>
                     <div class="col-md-4"><button>Add</button></div>
                   </div>
               </div>
         </div>

    

  </div>
</form>
