

    <div class="container">
    
      <div class="row">
        <div class="col-md-6"><input type="text" [(ngModel)]="userDetails.firstName"></div>
        <div class="col-md-3"><button class="block" (click)="editUser()">Edit</button></div>
      </div>
    
      <div class="row">
          <div class="col-md-6"><input type="text" [(ngModel)]="userDetails.lastName" ></div>
          <div class="col-md-3"><button class="block" (click)="deleteUser()">Delete</button></div>
      </div>
    
      <div class="row">
          <div class="col-md-6"><input type="text" [(ngModel)]="userDetails.employeeId" ></div>
          <div class="col-md-6"></div>
      </div>
      <hr>
    
    </div>

