hr {
    border:none;
    border-top:1px dotted #000;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:50%;
  }


.completed{
  text-align: center;
}

/* .endDate{
  text-align: center;
} */