<div class="container">
  <div class="row">

    <div class="col-md-2">
      <div class="row">
        <div class="row"><div class="col-md-12"><label>Task :</label></div></div>
        <div class="row"><div class="col-md-12"><input type="text"></div></div>
      </div>
    </div>

    <div class="col-md-2">
        <div class="row">
          <div class="row"><div class="col-md-12"><label>Project :</label></div></div>
          <div class="row"><div class="col-md-12"><input type="text"></div></div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
          <div class="row"><div class="col-md-12"><label>Priority :</label></div></div>
          <div class="row"><div class="col-md-12"><input type="text"></div></div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
          <div class="row"><div class="col-md-12"><label>Start Date :</label></div></div>
          <div class="row"><div class="col-md-12"><input type="date"></div></div>
        </div>
    </div>

    <div class="col-md-2">
          <div class="row">
            <div class="row"><div class="col-md-12"><label>End Date :</label></div></div>
            <div class="row"><div class="col-md-12"><input type="date"></div></div>
          </div>
    </div>

    <div class="col-md-1">
      <div class="row">
        <button>Edit</button>
      </div>
    </div>

    <div class="col-md-1">
        <div class="row">
          <button>End Task</button>
        </div>
     </div>

  </div>
</div>
