<div class="container">

  <div class="row">
      <h3>Project Manager</h3>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="row">
            <div class="col-md-3"> 
                <button>Add Project</button>
              </div>
         
              <div class="col-md-3"> 
                 <button>Add Task</button>
              </div>
         
              <div class="col-md-3"> 
                 <button>Add User</button>
              </div>
         
              <div class="col-md-3"> 
                <button>Add Task</button>
               </div>
        </div>
      </div>

      <div class="col-md-6"></div>

   

  <div>    

</div>
