<br>
<br>
<form id="UserRegistrationForm" [formGroup]="UserRegistrationForm" (ngSubmit)="onRegistration()">

  <div class="container">

    <div class="row">
      <div class="col-md-2"><label for="firstName">First Name :</label></div>
      <div class="col-md-6">
        <input formControlName="firstName"  placeholder="Enter First Name" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">

        <div *ngIf="submitted && f.firstName.errors" class="invalid-danger">
          <div *ngIf="submitted && f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2"><label for="lastName">Last Name :</label></div>
      <div class="col-md-6">
        <input formControlName="lastName" placeholder="Enter Last Name" type="text">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-danger">
            <div *ngIf="submitted && f.lastName.errors.required">Last Name is required</div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"><label for="employeeId">Employee Id :</label></div>
      <div class="col-md-6">
        <input formControlName="employeeId"  placeholder="Enter Employee Id" type="text">
        <div *ngIf="submitted && f.employeeId.errors" class="invalid-danger">
            <div *ngIf="submitted && f.employeeId.errors.required">Employee Id is required</div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="reset()">Reset</button>
          </div>
          <div class="col-md-8"></div>
        </div>
      </div>
    </div>

    <hr class="saprate">
  </div>

</form>

<div class="container">
    <div class="row">
        <div class="col-md-4"> <input  class="search" placeholder="Search" type="text" (keyup)="performSearch()" [(ngModel)]="searchInput"></div>
        <div class="col-md-1"> <label>Sort :</label></div>
        <div class="col-md-2"><button  class="block" (click) = "sortAction('firstName')">First Name</button></div>
        <div class="col-md-2"><button  class="block" (click) = "sortAction('lastName')">Last Name</button></div>
        <div class="col-md-1"><button  class="block" (click) = "sortAction('employeeId')">Id</button></div>
      </div>
    </div>

<div *ngFor='let item of userList' >
    <app-view-user [userDetails]='item'> </app-view-user>
</div>