<br>
<form>
  <div class="container">

      <div class="row">
        <div class="col-md-3"><label>Parent :</label></div>
        <div class="col-md-6"><input type="text"></div>
        <div class="col-md-3"><button>search</button></div>
      </div>

      <div class="row">
        <div class="col-md-3"><label>Task :</label></div>
        <div class="col-md-9"><input type="text"></div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1"><input type="checkbox"></div>
        <div class="col-md-2">Parent Task</div>
        <div class="col-md-6"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><label>Prioirty :</label></div>
        <div class="col-md-9"><input type="range"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><label>Parent Task :</label></div>
        <div class="col-md-9"><input type="text"></div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row"> 
            <div class="col-md-6"><label>Start Date :</label></div>
            <div class="col-md-6"><input type="text"></div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="row"> 
              <div class="col-md-6"><label>End Date :</label></div>
              <div class="col-md-6"><input type="text"></div>
            </div>
          </div>
      </div>

      <div class="row">
         <div class="col-md-3"><label>User :</label></div>
         <div class="col-md-9"><input type="text"></div>
      </div>

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
           <div class="row">
             <div class="col-md-6"><button>Add Task</button></div>
             <div class="col-md-6"><button>Reset</button></div>
           </div>
        </div>
      </div>

      <div class="row"></div>
  </div>

</form>