<form>
  <br>
  <div class="container"> 
    
       <div class="row">
         <div class="col-sm-2"><label>Project :</label></div>
         <div class="col-sm-3"><input type="text"></div>
         <div class="col-sm-2"><button type=submit>Search</button></div>
       </div>
    

    
      <div class="row">
          <div class="col-md-2"><label>Sort Task By :</label></div>
          <div class="col-md-2"><button type=submit>Start Date</button></div>
          <div class="col-md-2"><button type=submit>End Date</button></div>
          <div class="col-md-2"><button type=submit>Completed</button></div>
          <div class="col-md-2"><button type=submit>Priority</button></div>
      </div>
    
  </div>
  <hr>
</form>
